# Ignore database files
db.sqlite3
*.sqlite3

# Ignore static files
# staticfiles/

# Ignore media files
media/

# Ignore virtual environment directories
venv/
env/
.venv/

# Ignore compiled Python files
whiteboard/migrations/
config/__pycache__/
__pycache__/
*.pyc
*.pyo


refrences.txt
promt.txt