body {
    background-color: #121212;
    font-family: Arial, sans-serif;
    color: #fff;
}

.box {
    background-color: #1f1f1f;
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
    width: 80%;
    height: 70vh;
    text-align: center;
}