:root {
	--primary: oklch(23% 0.006 301.06);
	--primary-60: oklch(23% 0.006 301.06 / 60%);
	--primary-light: oklch(26.3% 0.006 301.06);
	--accent: oklch(54.2% 0.23 271.06);
	--accent-dark: oklch(43.2% 0.23 271.06);
	--gray: oklch(69.3% 0.006 301.06);
	--white: oklch(89.2% 0.006 301.06);
	--user-message: oklch(35.9% 0.006 301.06);
}

body {
	background-color: var(--primary);
}
html,
body {
	height: 100vh;
	font-size: 16px;
}

.preload {
	position: absolute;
	z-index: 10;
	background: var(--primary-60);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(11.5px);
	-webkit-backdrop-filter: blur(11.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	width: 100vw;
	height: 100vh;
}

.header {
	padding-top: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

.profile-pic {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	background-color: var(--white);
}

.search-box {
	width: clamp(10rem, 300px, 100%);
	height: 2.5rem;
	border-radius: 2.5rem;
	background-color: var(--primary-light);
	padding: 10px 30px;
	color: var(--white);
	border: none;
}

.camera-icon {
	width: 2.5rem;
	height: 2.5rem;
	background-color: var(--accent);
	border-radius: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.separator {
	height: 0.1rem;
	background-color: var(--primary-light);
	/* background-color: #343236 */
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

/* New styles */
.left-box {
	flex-grow: 1;
	flex-wrap: wrap;
	width: calc(75% - 10px); /* subtracting margin */
	background-color: var(--primary);
	border-radius: 10px;
	/* margin-right: 20px; */
}

.right-box {
	flex-shrink: 0;
	width: calc(25% - 20px);
	background-color: var(--primary-light);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 17px;
	/* margin-left: 20px; */
}

.input-box {
	width: 90%;
	height: 50px;
	border-radius: 10px;
	padding: 10px;
	border: none;
	margin-top: 20px;
	background: var(--primary);
	color: var(--white);
}

.boxes {
	display: flex;
	overflow: hidden;
	height: calc(90% - 20px);
}

.small-box {
	background-color: var(--primary-light);
	margin-right: 0.4rem;
	min-width: 10rem;
	overflow: hidden;
	max-height: 100%;
	border-radius: 10px;
}

.user-img {
	border: 4px solid #3d8cfd;
}

.usr-img-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: var(--primary-60);
	color: var(--white);
	display: flex;
	flex-direction: row;
	padding: 0px 0.5rem;
}
.usr-img-bottom i:first-of-type {
	cursor: pointer;
}

.big-box {
	background-color: var(--primary-light);
	border-radius: 10px;
	height: clamp(10rem, 70%, 100%);
	align-self: flex-end;
}

.small-boxes {
	padding-bottom: 1rem;
	flex-wrap: nowrap;
	width: 100%;
	height: 20%;
	overflow-x: auto;
	overflow-y: hidden;
	justify-content: space-between;
}

.user-photo {
	border-radius: 10px;
	width: 100%;
	height: auto;
	margin: 0px auto;
	object-fit: cover;
}

#chat-box {
	width: 100%;
	overflow: auto;
	margin-top: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: inherit;
}

.message {
	padding: 10px;
	border-radius: 8px 8px 8px 0px;
	margin-bottom: 10px;
	background-color: var(--primary);
	color: var(--white);
	width: fit-content;
	margin-right: 20px;
}

.message-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
}

.author {
	font-weight: bold;
}

.date {
	font-size: 0.8rem;
	color: var(--gray);
}

.message-body {
	font-size: 0.9rem;
}

.user-message {
	padding: 10px;
	border-radius: 8px 8px 0px 8px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 1px;
	background-color: var(--user-message);
	color: var(--white);
	width: fit-content;
	float: right;
	align-self: end;
}

.input-container {
	display: flex;
	align-items: center;
}

#message-input {
	width: calc(100% - 80px);
	height: 55px;
	border-radius: 10px 0 0 10px;
	padding: 10px 20px;
	border: none;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
	transition: all 0.3s ease-in-out;
	background: var(--primary);
	color: var(--white);
}

#message-input:focus {
	outline: none;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.input-container button {
	background-color: var(--accent);
	color: var(--white);
	border: none;
	border-radius: 0 10px 10px 0;
	padding: 10px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	height: 55px;
}

.input-container button:hover {
	background-color: var(--accent-dark);
}

#send-message-form {
	padding-top: 10px;
	margin-bottom: 1rem;
	width: 100%;
}

.button {
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	background-color: var(--primary-light);
	color: var(--white);
	cursor: pointer;
}
.button.icon {
	font-size: 1.2rem;
	min-width: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.excalidraw {
	filter: invert(100%) hue-rotate(180deg);
}

.board {
	height: 100%;
}

.board div {
	border-radius: 17px;
}

.copy-button span {
	padding-right: 7px;
	border-right: 1px solid rgb(149, 149, 149);
}

.copy-button i {
	padding-left: 3px;
}

::-webkit-scrollbar {
	width: 0.3rem;
	border-radius: 3rem;
}

::-webkit-scrollbar-track {
	background: var(--white);
}

::-webkit-scrollbar-thumb {
	background: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--primary-light);
}

.fab {
	display: none;
}

@media screen and (max-width: 576px) {
	.right-box {
	}
	.fab {
		display: flex !important;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: auto;
		padding: 1rem 1.5rem;
	}

	.fab-menu i {
		font-size: 1rem;
		color: var(--white);
		background-color: var(--primary-light);
		border-radius: 5rem;
		padding: 1rem;
	}

	.fab-chat i {
		font-size: 1rem;
		color: var(--white);
		background-color: var(--primary-light);
		border-radius: 5rem;
		padding: 1rem;
	}
}
