{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Dark Box Example</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://unpkg.com/react@18.2.0/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18.2.0/umd/react-dom.development.js"></script>

    <script type="text/javascript"src="https://unpkg.com/@excalidraw/excalidraw/dist/excalidraw.development.js"></script>
</head>

<body>
    <div class="box">
        {% if request.user.is_superuser %}
        <div id="app" class="board">
        </div>
        {% else %}
        <div class="board">
            <img id="userImage" style="width: 100%;border: 1px solid;height: 500px;background: #fff;" src="" alt="">
        </div>
        {% endif %}
    </div>
</body>

{% if request.user.is_superuser %}
    <script src="{% static 'js/adminBoard.js' %}"></script>
{% else %}
    <script src="{% static 'js/userBoard.js' %}"></script>
{% endif %}
</html>