@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
:root {
	--primary: oklch(23% 0.006 301.06);
	--primary-60: oklch(23% 0.006 301.06 / 60%);
	--primary-light: oklch(26.3% 0.006 301.06);
	--accent: oklch(54.2% 0.23 271.06);
	--accent-dark: oklch(43.2% 0.23 271.06);
	--gray: oklch(69.3% 0.006 301.06);
	--white: oklch(89.2% 0.006 301.06);
	--blue-gradient: linear-gradient(
		to right top,
		#4457f2,
		#3e4de8,
		#3943df,
		#3339d5,
		#2d2fcb
	);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
html,
body {
	display: grid;
	height: 100%;
	width: 100%;
	place-items: center;
	/*background-color: #8EC5FC;*/
	background-image: linear-gradient(
		62deg,
		var(--primary) 0%,
		var(--primary) 100%
	);
}
::selection {
	background: var(--accent);
	color: var(--white);
}

.wrapper {
	overflow: hidden;
	max-width: 390px;
	background: var(--primary-light);
	padding: 30px;
	border-radius: 15px;
	box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}
.wrapper .title-text {
	display: flex;
	width: 200%;
}
.wrapper .title {
	width: 50%;
	font-size: 35px;
	font-weight: 600;
	text-align: center;
	transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .slide-controls {
	position: relative;
	display: flex;
	height: 50px;
	width: 100%;
	overflow: hidden;
	margin: 30px 0 10px 0;
	justify-content: space-between;
	border: 1px solid #333;
	border-radius: 15px;
}

.slide-controls .slide {
	height: 100%;
	width: 100%;
	color: var(--white);
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	line-height: 48px;
	cursor: pointer;
	z-index: 1;
	transition: all 0.6s ease;
}

.slide-controls label.signup {
	color: var(--white);
}

.slide-controls .slider-tab {
	position: absolute;
	height: 100%;
	width: 50%;
	left: 0;
	z-index: 0;
	border-radius: 15px;
	background: var(--blue-gradient);
	/* -webkit-linear-gradient(
		left,
		#003366,
		#004080,
		#0059b3,
		#0073e6
	); Change background color to a darker shade of your choice */
	transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
input[type='radio'] {
	display: none;
}
#signup:checked ~ .slider-tab {
	left: 50%;
}
#signup:checked ~ label.signup {
	color: var(--white);
	cursor: default;
	user-select: none;
}
#signup:checked ~ label.login {
	color: #000;
}
#login:checked ~ label.signup {
	color: #000;
}
#login:checked ~ label.login {
	cursor: default;
	user-select: none;
}
.wrapper .form-container {
	width: 100%;
	overflow: hidden;
}
.form-container .form-inner {
	display: flex;
	width: 200%;
}
.form-container .form-inner form {
	width: 50%;
	transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-inner form .field {
	height: 50px;
	width: 100%;
	margin-top: 20px;
}
.form-inner form .field input {
	height: 100%;
	width: 100%;
	outline: none;
	padding-left: 15px;
	border-radius: 15px;
	border: 1px solid #333;
	border-bottom-width: 2px;
	font-size: 17px;
	transition: all 0.3s ease;
}
.form-inner form .field input:focus {
	border-color: var(--white);
}
.form-inner form .field input::placeholder {
	color: var(--gray);
	transition: all 0.3s ease;
}
form .field input:focus::placeholder {
	color: var(--accent);
}
.form-inner form .pass-link {
	margin-top: 5px;
}
.form-inner form .signup-link {
	text-align: center;
	margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a {
	color: var(--accent);
	text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
	text-decoration: underline;
}
form .btn {
	height: 50px;
	width: 100%;
	border-radius: 15px;
	position: relative;
	overflow: hidden;
}
form .btn .btn-layer {
	height: 100%;
	width: 300%;
	position: absolute;
	left: -100%;
	background: var(--blue-gradient);
	/* -webkit-linear-gradient(
		right,
		#003366,
		#004080,
		#0059b3,
		#0073e6
	); Change background color to a darker shade of your choice */
	border-radius: 15px;
	transition: all 0.4s ease;
}
form .btn:hover .btn-layer {
	left: 0;
}
form .btn input[type='submit'] {
	height: 100%;
	width: 100%;
	z-index: 1;
	position: relative;
	background: none;
	border: none;
	color: var(--white);
	padding-left: 0;
	border-radius: 15px;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
}

/* Dark Mode */

body {
	background-color: #121212 !important;
}
* {
	color: var(--white) !important;
}

input {
	background-color: #2b2b2b;
	color: var(--white);
	padding: 10px;
	border-radius: 5px;
	border: none;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
